{% block menu %}
    <ul>
        <li><a href="{{ path('blog_all_articles') }}">List Article</a></li>
        <li><a href="{{ path('blog_create_article') }}">Create Article</a></li>
        <li><a href="{{ path('blog_create_author') }}">Create Author</a></li>
        <li><a href="{{ path('blog_all_authors') }}">List Authors</a></li>
        <li><a href="{{ path('app_logout') }}">Log out</a></li>
    </ul>
{% endblock %}